#ItemName{
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    height: 45px;
}

@media (max-width:1400px){
    #ItemName{
        /* background-color: black; */
        display: flex;
        flex-direction: column;
        
    }    

}


#Percentage{
    padding-left: 30px;
}

#Line{
    margin-left: 23px;
    width: 65px;
    height: 2px;
    background-color: black;
}


#DataItems{
    width: 130px;
    margin: auto;
}
