#Column{
    padding-top: 8px;
    padding-bottom: 8px;
   display: flex;
   align-content:space-between;
   background-color:#93B3F6;
   height: 35px;
}

#Elements:hover{
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

#Elements{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    background-color: white;
    color: black;
    /* height: 35px; */
    align-content:space-between;
}


#ColumnEle{
    width:11%;
    /* height:30px; */
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}
#ColumnEleName{
    width:15%;
    /* height:30px; */
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

#ColumnEleTag{
    width:12%;
    /* height:30px; */
    display: flex;
    /* padding-right: 12px; */
}
#SelectAll,#Select{
    padding-right: 10%;
    width:80px;
}

