#Column{
    padding-top: 4px;
   display: flex;
   align-content:space-between;
   background-color:#93B3F6;
   height: 35   px;
}


#Elements{
    padding-top: 4px;
    display: flex;
    background-color: white;
    color: black;
    height: 35px;
    align-content:space-between;
}


#ColumnEle{
    width:11%;
    height:30px;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

#SelectAll,#Select{
    padding-right: 10%;
    width:80px;
}

